opencv-python
easyocr[gpu]
groq
langdetect
numpy
# paddleocr
pygame
pyttsx3
requests
#torch
#torchvision  
#torchaudio
Pillow
matplotlib
accelerate
transformers
bitsandbytes
safetensors
sentencepiece
protobuf
ollama
dotenv  


# SESAME
huggingface_hub
moshi
torchtune
torchao
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master