opencv-python
easyocr[gpu]
groq
langdetect
numpy
paddleocr
playsound
pyttsx3
requests
torch
torchvision  
torchaudio
Pillow
matplotlib
accelerate
transformers
bitsandbytes
safetensors
sentencepiece
protobuf
ollama